.DocSearch-Form {
  padding: 10px 12px 10px 2px !important;
}

// VPNavBar
.VPNavBar {
  transition: 0.5s all;
}

// 覆盖默认的搜索框样式（flexsearch）
@media (min-width: 768px) {
  .VPNavBar.top {
    .DocSearch-Button {
      background-color: var(--vp-c-bg);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    }
  }
  .VPNavBarSearch {
    flex-grow: 1;
    .DocSearch-Button {
      justify-content: flex-start;
      border: 2px solid transparent;
      border-radius: 8px;
      padding: 0 10px 0 12px;
      width: 100%;
      height: 40px;
      background-color: var(--vp-c-bg-alt);
      &:hover {
        background: var(--docsearch-searchbox-focus-background);
        box-shadow: var(--docsearch-searchbox-shadow);
        color: var(--docsearch-text-color);
        outline: none;
        border-color: var(--vp-c-brand-1);
        background: var(--vp-c-bg-alt);
      }
    }
  }
  div.VPPluginSearch-modal {
    border-radius: 4px;
  }
}
@media (max-width: 768px) {
  .VPPluginSearch-modal-back {
    background: #545454b3 !important;
    overflow: hidden;
    div.VPPluginSearch-modal {
      max-width: 95%;
      border-radius: 4px;
    }
  }

  .VPNavBarSearch {
    .DocSearch-Button {
      width: auto;
    }
    .DocSearch-Button-Keys {
      display: none;
    }
  }
}

// el 的翻页组件
.el-pagination {
  .btn-prev,
  .el-pager li.number:not(.is-active),
  .btn-next {
    background: var(--vp-c-bg) !important;
    color: var(--vp-c-text-1);
    font-weight: 500;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
}

.vp-adaptive-theme {
  border: 1px solid var(--vp-code-block-border);
}

// vp-doc
.vp-doc > div > h2 {
  margin-top: 0;
  padding-top: 0;
  border: 0;
}
