html {
  --bg-gradient: 255, 255, 255, 0.1;
  --bg-gradient-home: 255, 255, 255;
  --box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);

  // blog-item
  --box-shadow-hover: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
  --nav-bgc: rgba(255, 255, 255, 0.9);
  --badge-font-color: #4e5969;
  --meta-font-color: rgba(51, 51, 51, 0.7);
  --description-font-color: #86909c;

  --blog-theme-color: var(--vp-c-brand-1);
  --blog-c-bg: #f7fdfd;
  // --blog-theme-color: #409eff;
  --el-pagination-button-bg-color: #fff;
  --blog-hr-border-color: rgba(51, 51, 51, 0.1);
}

html.dark {
  --blog-c-bg: var(--vp-c-bg);

  --bg-gradient: 20, 20, 20;
  --bg-gradient-home: 20, 20, 20;
  --box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.6);
  --nav-bgc: rgba(0, 0, 0, 0.8);
  --box-shadow-hover: 0 2px 16px 0 rgba(0, 0, 0, 0.7);
  --badge-font-color: #bdc3cc;
  --meta-font-color: rgba(217, 217, 217, 0.7);
  --description-font-color: #9facba;
  --blog-hr-border-color: rgba(195, 195, 195, 0.1);
}
.VPHome {
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      rgba(201, 195, 195, 0.329) 25%,
      hsla(0, 8%, 80.4%, 0.05) 26%,
      transparent 27%,
      transparent 74%,
      hsla(0, 5.2%, 81%, 0.185) 75%,
      rgba(180, 176, 176, 0.05) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      rgba(204, 196, 196, 0.226) 25%,
      hsla(0, 4%, 66.1%, 0.05) 26%,
      transparent 27%,
      transparent 74%,
      hsla(0, 5.2%, 81%, 0.185) 75%,
      rgba(180, 176, 176, 0.05) 76%,
      transparent 77%,
      transparent
    );
  background-color: var(--blog-c-bg);
  background-size: 50px 50px;
  background-repeat: repeat;
  &::before {
    content: "";
    inset: 0;
    position: fixed;
    top: 0;
    z-index: -1;
    // background-image: url(./bg.png);

    min-height: 100%;
  }
  min-height: calc(100vh - var(--vp-nav-height));
  // background: radial-gradient(
  //   ellipse,
  //   rgba(var(--bg-gradient-home), 1) 0%,
  //   rgba(var(--bg-gradient-home), 0) 700%
  // );
}

@media screen and (min-width: 960px) {
  #VPContent.is-home.VPContent {
    padding-top: 0;
    .VPHome {
      min-height: 100vh;
    }
  }
}

@media screen and (max-width: 959px) {
  .VPNav {
    background-color: var(--nav-bgc);
  }
}

.el-pagination {
  flex-wrap: wrap;
  justify-content: center;
}
.el-pagination > * {
  margin-bottom: 10px !important;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .VPNavBarMenuGroup .button span.text,
  .VPNavBarMenuLink {
    font-size: 12px !important;
  }
  .VPNavBar {
    height: auto !important;
  }
  .VPNavBarMenu.menu {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 960px) and (max-width: 1120px) {
  .VPContent.has-sidebar {
    margin-top: 60px !important;
  }
}

// sidebar
@media (min-width: 1440px) {
  aside.VPSidebar {
    padding-left: max(32px, calc((100% - (var(--vp-layout-max-width) - 16px)) / 2)) !important;
    padding-right: 10px !important;
  }
}

.VPDoc .content main {
  img {
    max-height: 300px;
    margin: 0 auto;
    cursor: pointer;
  }

  .vp-doc a {
    word-break: break-all;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:vertical {
  height: 4px;
  border-radius: 4px;
  background-color: var(--vp-c-brand-1);
}

::-webkit-scrollbar-thumb:horizontal {
  width: 4px;
  border-radius: 4px;
  background-color: var(--vp-c-brand-1);
}

main .vp-doc a {
  text-decoration: none;
}
main .vp-doc a:hover {
  text-decoration: underline dotted;
}

div.VPPluginSearch-search-item:hover {
  background-color: var(--vp-c-indigo-1);
  color: #fff;
}

hr {
  box-sizing: content-box;
  height: 1px;
  font-size: 13.3px;
  width: 100%;
  margin-top: 2px;
  border: 0;
  border-radius: 1px;
  border-bottom: 1px solid var(--blog-hr-border-color);
}

.author {
  display: inline-flex;
  align-items: center;
  img.profile {
    height: 1.2em;
    border-radius: 50%;
    margin-right: 4px !important;
  }
}
