.home {
  .card {
    position: relative;
    margin: 0 auto 10px;
    padding: 10px;
    width: 100%;
    overflow: hidden;
    border-radius: 0.25rem;
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
    transition: all 0.3s;
    display: flex;

    &:hover {
      box-shadow: var(--box-shadow-hover);
    }
  }
  .card-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--vp-c-gutter);
    padding-bottom: 6px;
    padding-top: 4px;

    .title {
      font-size: 18px;
      font-weight: 500;
      display: flex;
      align-items: center;
      position: relative;
    }
  }
  .empty-text {
    padding: 6px;
    font-size: 14px;
    text-align: center;
  }
  .recommend {
    flex-direction: column;
  }

  .recommend-container {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0 10px 0 0px;
    width: 100%;

    li {
      display: flex;

      .num {
        display: block;
        font-size: 14px;
        color: var(--description-font-color);
        font-weight: 600;
        margin: 6px 8px 10px 0;
        width: 22px;
        height: 18px;
        line-height: 18px;
        text-align: center;
      }

      .des {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .title {
        font-size: 14px;
        color: var(--vp-c-text-1);
        word-break: break-all;
        white-space: break-spaces;
        &.current {
          color: var(--vp-c-brand-1);
        }
      }

      .suffix {
        font-size: 12px;
        color: var(--vp-c-text-2);
      }
    }
  }

  .card-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .title {
      font-size: 16px;
    }
  }
  .empty-text {
    padding: 6px;
    font-size: 14px;
    text-align: center;
  }
}

// 文章页样式覆盖，不包括有侧边栏的情况
.Layout.renkin-theme {
  .VPContent {
    padding-bottom: 30px;
  }
  .VPContent:not(.has-sidebar) {
    background-image: linear-gradient(
        0deg,
        transparent 24%,
        rgba(201, 195, 195, 0.329) 25%,
        hsla(0, 8%, 80.4%, 0.05) 26%,
        transparent 27%,
        transparent 74%,
        hsla(0, 5.2%, 81%, 0.185) 75%,
        rgba(180, 176, 176, 0.05) 76%,
        transparent 77%,
        transparent
      ),
      linear-gradient(
        90deg,
        transparent 24%,
        rgba(204, 196, 196, 0.226) 25%,
        hsla(0, 4%, 66.1%, 0.05) 26%,
        transparent 27%,
        transparent 74%,
        hsla(0, 5.2%, 81%, 0.185) 75%,
        rgba(180, 176, 176, 0.05) 76%,
        transparent 77%,
        transparent
      );
    background-color: var(--blog-c-bg);
    background-size: 50px 50px;
    background-repeat: repeat;

    @media (min-width: 960px) {
      div.VPDoc div.container {
        max-width: 1240px;
      }
      div.VPDoc div.container div.content {
        max-width: 1240px;
      }
    }
    .VPDoc {
      @media (max-width: 640px) {
        & {
          padding: 32px 24px 96px;
          background: var(--vp-c-bg);
        }
      }
      .container {
        .content {
          @media (max-width: 640px) {
            & {
              padding: 24px 0;
            }
          }
          @media (min-width: 640px) {
            & {
              padding: 32px 34px;
              background: var(--vp-c-bg);
              border-radius: 12px;
              box-shadow: 0 1px 2px 0 var(--blog-posts-shadow-color),
                0 2px 4px 0 var(--blog-posts-shadow-color);
              &:hover {
                box-shadow: 0 2px 4px 0 var(--blog-posts-shadow-color),
                  0 4px 8px 0 var(--blog-posts-shadow-color),
                  0 8px 16px 0 var(--blog-posts-shadow-color),
                  0 16px 32px 0 var(--blog-posts-shadow-color);
              }
            }
          }
          transition: 0.3s all;

          .content-container {
            max-width: 100%;
          }
        }
      }
    }
  }
  .vp-doc h2 .header-anchor {
    top: 0;
  }
  .VPContent:not(.has-sidebar) .VPDoc .container .aside {
    padding-left: 0;
    .aside-container {
      padding-left: 30px;
      padding-right: 20px;
      width: 280px;
    }
    div.VPDocAsideOutline.has-outline {
      div.content {
        padding: 20px;
      }
      .outline-marker {
        margin-top: 34px;
        width: 3px;
      }
      .outline-title {
        font-size: 18px;
        padding-bottom: 4px;
        border-bottom: 1px solid var(--blog-hr-border-color);
        margin-bottom: 10px;
      }
      .outline-link {
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
        &.active {
          color: var(--vp-c-brand-1);
          font-weight: 600;
        }
      }
    }
  }

  .VPFooter {
    padding: 10px;
  }
}
