.blog-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.tag-link {
  // color: var(--vp-c-text-2);
  color: var(--blog-item-tag-bg);
  display: flex;
  align-items: center;
  margin-right: 16px;
  display: flex;
  align-items: center;
  line-height: 20px;
  padding: 0 6px;
  border: 1px solid var(--blog-item-tag-bg);
  margin-right: 8px;
  font-size: 12px;
  border-radius: 4px;
  font-weight: 500;
  &:hover,
  &.active {
    // color: var(--vp-c-brand-1);
    color: #fff;
    background-color: var(--vp-c-brand-1);
    border-color: var(--vp-c-brand-1);
    cursor: pointer;
    font-weight: 500;
  }
}
a.tag-link:not(:last-child) {
  // &::after {
  //   content: "|";
  //   display: inline-block;
  //   padding: 0 4px;
  // }
}
@keyframes shine {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 100% 100%;
  }
}
